
/*body { background: #000; }
#readme,
#readme .markdown-body,
#readme .plain,
.markdown-body h2 { background: #000; color: #fff; }
.markdown-body pre code,
.markdown-body pre tt,
.markdown-body code { color: #000; }*/

#slider pre, code, tt,
#slider .line_numbers,
.gist pre, code, tt,
.gist .line_numbers { font-size: 14px !important; }

@media screen and (min-width: 760px) and (max-width: 850px) {
    /*common*/
    html, body { min-width: auto; }
    .container { width: auto; }
    /*dashboard*/
    .news,
    .dashboard-sidebar { width: 100%; }
    /*profile*/
    body.page-profile .profilecols .last { width: 595px; }
    /*repository*/
    #slider .frames .frame { width: 820px; }
    /*pull requests*/
    .columns.browser .sidebar,
    /*notifications*/
    #notification-center .listings-layout .columns.sidebar { width: 135px; padding-right: 0; }
    #notification-center .listings-layout .columns.main { width: 685px; }
    /*subscriptions*/
    .subscriptions-sidebar { width: 210px; }
    .explorecols .main { float: none; margin: 0 auto; }
    .explorecols .sidebar { float: none; margin: 0 auto; }
    /*languages*/
    #languages .all_languages { padding-right: 1em; }
    #languages .popular ul { margin: 0; }
    #dashboard .news { float: none !important; width: 100% !important; }
    /*search*/
    .search-instructions .instruction-groups > li { width: 392px; margin: 0; }
    .search-instructions .instruction-groups li:last-child { float: right; }
    /*graphs*/
    #graph-shots li, 
    .graphs ol li { display: block; float: none; margin: 0 auto 10px !important; }
    /*gist*/
    .gist .root-pane { width: auto; float: none; margin: 0 10px 0 0; }
    .gist .menu-container { float: left; margin: 0 10px 0 0; }
    .gist .export-references { float: left; }
    .gist .export-references li { float: left; margin: 0 10px 0 0; }
    .gist .export-references li:last-child { margin: 0; }
    .gist .column { width: auto; margin: 10px 0 0 0; }
}
